*{
    margin: 0;
}

.conteiner{
    margin: 0;

    height: 100vh;

    display:grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "form form";

        grid-template-rows: 20px 700p 40px;
        --component-color:red;
}

header{
    grid-area: header;

    background: linear-gradient(0, #232323 0%, #36364e 100%);
    color: #eee;
  
}



nav{
   grid-area: nav;

   background-image: url(./img/ponte.jpg);
   color: #fff;
    

    display:flex;
   justify-content: space-between;
   padding: 0 8px;
    align-items: center;
}






.box1{
    margin: 60px;
    
}

.dirce{
    background-image: url(./img/grama.jpg);
    
}

.fatima{
    background-image: url(./img/grama.jpg);
}

.raquel{
    background-image: url(./img/grama.jpg);
}







.box2{
    margin: 0;
}

.aicha{
    background-image: url(./img/grama.jpg);
}

.glau{
    background-image: url(./img/grama.jpg);
}

.jhon{
    background-image: url(./img/grama.jpg);
}







.box3{
    margin: 60px;
}

.mendes{
    background-image: url(./img/grama.jpg);
}

.titi{
    background-image: url(./img/grama.jpg);
}









form{
    grid-area: form;

    background: linear-gradient(0, #232323 0%, #36364e 100%);
    color: #eee;
    
}

.button{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 160px;
    height: 60px;
    margin: 17px;
    border-radius: 7px;
    text-align: center;
    background-color: var(--component-color);

    

}

.button:hover{
      
    
}





.conteiner{
    margin: 2px;
}


.titulo{
    font-size: 20px;
}


.tixt{
    font-size: 65;
    
}













.dirce, .fatima, .raquel, .aicha, .glau, .jhon, .mendes, .titi{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: center;
    padding: 1px solid;
    border: 4px solid black;
    width: 400px;
    height: 150px;
    border-radius: 23px;
    margin: 5px;
}